<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login with Google</title>
    <style>
        .main {
            display: flex;
            flex-direction: row;
            font-size: 30px;
            padding: 5px;
            width: 400px;
            margin: auto;
            /* outline: solid 1px black; */
            justify-content: center;
            align-items: center;
        }
 
        .main div {
            margin: 10px 20px;
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="flex items-center justify-center h-screen dark:bg-gray-800">
            <button class="px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded-lg text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150">
            <a href="/auth/google"></a>
                <img class="w-6 h-6" width="110" height="30" src="https://www.svgrepo.com/show/475656/google-color.svg" loading="lazy" alt="google logo">
                <a href="/auth/google">Login with Google</a>
            </a>
            </button>
        </div>
       
    </div> 
</body>
</html>
